html {
    font-size: 16px;
}

@media only screen and (min-width: 100px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (min-width: 300px) {
    html {
        font-size: 13.5px;
    }
}

@media only screen and (min-width: 424px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 720px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 960px) {
    html {
        font-size: 15.5px;
    }
}

@media only screen and (min-width: 1240px) {
    html {
        font-size: 16px;
    }
}
body {
    background: #f5f5f5;
    background: linear-gradient(120deg, #e681d0, #b885ad);
    margin-top: 20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background: rgba(0, 0, 0, 0);
    color: #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}
.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: rgba(215, 133, 199, 0.745) !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.mainbox h2{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
    padding-left: 25px;
    
}

.mainbox label{
    margin-left: 10px;
}